.vscode/settings.json

/matrix_cnot?.exe
/matrix_cnot?.txt
/matrix_cnot??.exe
/matrix_cnot??.txt
*.o

slurm*.out

# Nauty:
nauty/.libs/
nauty/*.o
nauty/*.a
nauty/*.lo
nauty/*.la
nauty/config.log
nauty/config.status
nauty/libtool
nauty/makefile
nauty/runalltests
nauty/gtools.h
nauty/nauty.h
nauty/nauty.pc
nauty/naututil.h
